<div class="card">
    <div class="card-header">
        <h2 class="title">Name: {{character?.name}}</h2>
    </div>
    <div class="card-body">
        <p class="card-text"><span class="font-weight-bold">Race: </span> {{character?.race}}</p>
        <p class="card-text"><span class="font-weight-bold">Age: </span> {{character?.age}}</p>
        <p class="card-text"><span class="font-weight-bold">Weight: </span> {{character?.weight}} lbs</p>
        <p class="card-text"><span class="font-weight-bold">Level: </span> {{character?.level}}</p>
        <p class="card-text"><span class="font-weight-bold">Backstory: </span> {{character?.backstory}}</p>
    </div>
    <div class="card-footer">
        <div class="btn-toolbar">
            <button mat-icon-button type="button" class="btn btn-primary" (click)="executeDelete()">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button type="button" class="btn btn-primary ml-2">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>