

.edit-card {
  position: absolute;

  top: 15%;
  left: 50%;

  width: 30%;
  height: 40%;

  transform: translate(-50%, 0%);
}

.item-icon {
  padding: 5%;
  width: 90%;
}

#icon-label {
  padding-top: 10px;
}

#part-icon {
  position: absolute;

  width: 20%;
  right: 5%;
  top: 10%;
}

.icon-chooser {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px ;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.btAddIcon {
  margin: 10px;
}

#first-field {
  width: 70%;
  margin-bottom: 20px;
}

mat-form-field {
  margin: 0% 2.5%;
  width: 45%;
  margin-bottom: 10px;
}

#action-buttons {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
