
<div
    class="card"
    [ngStyle]="{'background-color': (selected) ? 'grey' : 'white' }">
    
    <div class="header">
        <h2>Name: {{ locationItem?.name }}</h2>
    </div>

    <div class="content">
        <div>ID: {{ locationItem?.id }}</div>
        <p>Biome types:</p>
        <ul>
            <li *ngFor="let type of locationItem?.biome_types">
                {{ type }}
            </li>
        </ul>
        
        <div>Biome size: {{ locationItem?.biome_size }}</div>
        <div>Day-Night-Cycle: {{ locationItem?.day_night_cycle }}</div>
        <div>Weather-Cycle: {{ locationItem?.weather_cycle }}</div>
        <div>NPC density: {{ locationItem?.npc_density }}</div>

        <a class="btn btn-default edit" [routerLink]="['../location-edit', locationItem?.id, { showDetails: true }]">Edit</a>
        <button class="btn btn-default delete" (click)="delete(locationItem?.name)">Delete</button>
    </div>
</div>