// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-purple);
$app-warn:    mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$accent_2: mat-color($app-accent, 700);
$warn: mat-color($app-warn);

.container {
  width: 100%;
  height: 100%;
}

.item-card-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  top: 10%;
  left: 10%;
  width: 80%;

  overflow-y: scroll;
  height: 80%;
}

#btRemove {
  position: absolute;

  top: 85%;
  left: 45%;

  transform: translate(-100%, 0%);
}

#btAddItem {
  position: absolute;

  top: 50%;
  right: 5%;

  transform: translate(0%, -50%);
}
