<div class="container">

    <h1 class="header selected-header">Selected Items:</h1>

    <mat-table mat-table [dataSource]="SelectedItems" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Nr. </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element; let i = index;"> {{i}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="icon">
        <mat-header-cell  *matHeaderCellDef> Icon </mat-header-cell>
        <mat-cell *matCellDef="let element"> Icon </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="rarity">
        <mat-header-cell *matHeaderCellDef> Rarity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Rarity}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Wert </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Gewicht </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Weight}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="ColumnHeaders"></mat-header-row>
      <mat-row class="table-row" mat-ripple
        [ngClass]="{'highlight': SelectedItem == row}"
        (click)="SetSelection(row)"
        *matRowDef="let row; columns: ColumnHeaders;"></mat-row>
    </mat-table>

    <h1 class="header available-header">Available Items:</h1>

    <div class="item-card-container">

      <div *ngFor="let item of AvailableItems">
        <app-item-card></app-item-card>
      </div>

    </div>
</div>
