.btn.search {
    background-color: #7FB069;
    bottom: 10;
    left: 0;
}

.card {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.btn.create {
    background-color: #7FB069;
    margin-left: 10px;
}